<div class="container my-5">
  <h2 class="section-title mb-4"><%= @category.name %></h2>
  <div class="row g-4">
    <% @products.each do |product| %>
      <%= render "products/product_card", product: product %>
    <% end %>
  </div>
</div>