<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb dark-breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item"><%= link_to "Browse", products_path %></li>
      <li class="breadcrumb-item active"><%= @category.name %></li>
    </ol>
  </nav>
</div>